
\.vs/config/applicationhost\.config

\.vs/fbLudoWebFinal/v15/\.suo

\.vs/fbLudoWebFinal/v15/Server/sqlite3/storage\.ide-shm

\.vs/fbLudoWebFinal/v15/Server/sqlite3/storage\.ide-wal

fbLudoWebFinal/bin/fbLudoWebFinal\.dll

fbLudoWebFinal/bin/fbLudoWebFinal\.pdb

fbLudoWebFinal/obj/Debug/fbLudoWebFinal\.csproj\.CoreCompileInputs\.cache

fbLudoWebFinal/obj/Debug/fbLudoWebFinal\.csproj\.FileListAbsolute\.txt

fbLudoWebFinal/obj/Debug/fbLudoWebFinal\.csproj\.GenerateResource\.Cache

fbLudoWebFinal/obj/Debug/fbLudoWebFinal\.csprojResolveAssemblyReference\.cache

fbLudoWebFinal/obj/Debug/fbLudoWebFinal\.dll

fbLudoWebFinal/obj/Debug/fbLudoWebFinal\.pdb

fbLudoWebFinal/Site\.Master\.designer\.cs

fbLudoWebFinal/App_Data/aspnet-fbLudoWebFinal-20171227013059_log\.ldf

fbLudoWebFinal/App_Data/aspnet-fbLudoWebFinal-20171227013059\.mdf

\.vs/fbLudoWebFinal/v15/Server/sqlite3/storage\.ide

fbLudoWebFinal/App_Data/spiele\.txt

fbLudoWebFinal/App_Data/ausleihen\.txt
